* {
    box-sizing: border-box;
}

html{
    font-family: monospace;
    font-size: 1.3em;
    background-color: var(--clr2);
}

body{
    margin: 0;
}

main{
    display: block;
    margin: 1em 0;
    
    /* grid-template-columns: 1fr 1fr;
    column-gap: 1.3em; */

}