* {
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9ed;
}

body{
    margin: 0;
}

main{
    display: block;
    margin: 1em 0;
    
    grid-template-columns: 1fr 1fr;
    column-gap: 1.3em;

}