* {
    box-sizing: border-box;
}

html{
    font-family: monospace;
    font-size: .5em;
    background-color: var(--clr2);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* html, body {
    height: 100%;
    margin: 0;
    font-family: monospace;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    background-color: var(--clr2);
} */

body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    margin: 1em 0;
}