dialog {
    border: none;
    outline: none;
}

.hidden {
display: none;
}

.img-wrapper {
    position: relative;
    display: inline-block;
}

.img-wrapper img {
    max-width: 25vw;
    border: 1px solid black;
    display: block;
    cursor: pointer;
    border-radius: 10%;
}

.img-wrapper img:hover{
    opacity: .3;
}


