
/* MEDIUM */
@media (min-width: 580px){

    html{
        font-size: 1em;
    }

    main{
        display: block;
    }

    header {
        padding: 1em;
    }

    header h1{
        font-size: 2em;
    }

    header nav li {
        font-size: 1em;
    }

    nav ul {
        letter-spacing: 1px;
    }

    nav ul li{
    font-size: 1em;  
    padding: .5em 3em;
    }

    .editor{
        justify-self: center;
        border-radius: 30px;
        max-width: 70vw;
        width: 100%;
        margin-top: 1em;
        padding: 1em;
    }
    
    .editor .emoji ul {
        font-size: 1.5em;
    }
    
    .canvas-board{
        max-width: 70vw;
        width: 100%;
        border-radius: 30px;
    }

    .img-wrapper {
        margin: .5em;
    }

    .img-wrapper img {
        max-width: 30vw;
    }

    footer{
        font-size: 1em;
    }

    footer .social i {
        margin: 0 .4em;
    }
}


/* DESKTOP */
@media (min-width: 930px){

    main{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: clamp(15px, 2vh, 20px);
        margin: 3vw auto;
    }
    
    .editor{
        max-width: 30vw;
        width: 100%;
        margin-top: 0;
        grid-column: 2;
    }
    
    .editor .emoji ul {
        font-size: 2em;
    }

    .editor .share i {
        font-size: 1.3em;
        padding: .7em;
        border-radius: 10px;
    }
    
    .canvas-board{
        max-width: 60vw;
        width: 100%;
        border-radius: 30px;
        grid-column: 1;
    }

    .img-wrapper img {
    max-width: 25vw;
    }
}


