
/* MEDIUM */
@media (min-width: 580px){

    html{
        font-size: 1em;
    }

    main{
        display: block;
        margin: 1em 0;
    }

    header h1{
        font-size: 2em;
    }

    header nav li {
        font-size: 1em;
    }

    .editor{
        /* margin-top: 1em; */
        justify-self: center;
        border-radius: 30px;
        width: 60vw;
        margin-top: 1em;
    }  
    
    .canvas-board{
        width: 60vw;
        border-radius: 30px;
    }

    .img-wrapper img {
    max-width: 30vw;
    }
}


/* DESKTOP */
@media (min-width: 930px){

    main{
        display: grid;
        gap: 2em;
        margin: 3em 1.5em; 

        grid-template-columns: 1fr 1fr;
        column-gap: 1.3em;
}
    
    .editor{
        width: 40vw;
        margin-top: 0;
    }  
    
    .canvas-board{
        width: 50vw;
        border-radius: 30px;
    }

    .img-wrapper img {
    max-width: 25vw;
    }
}


