.canvas-board{
    display: flex;
    justify-self: center;

    width: 50vw;
    margin-top: 3em;
    background-color: transparent;
    border: 2px solid var(--clr3);
    border-radius: 10%;
    overflow: hidden;
}

.canvas-board canvas {
    width: 100%; 
    height: auto; 
    display: block;
    border-radius: 10%;
}