footer{
    background-color: var(--clr1);
    color: var(--clr2);
    padding: 1.5em 3em; 
    text-align: center; 
    z-index: 1;
}

footer .social i{
    background-color: var(--clr1);
    color: var(--clr2);
    padding: .5em .3em;
    margin: 0 .4em;
    transition: 0.5s;
}

footer .social i:hover{
    opacity: .5;
    color: var(--clr3);
}