.gallery{
    transition: .5ms;
    background-color: var(--clr2);
    border: none;
    text-align: center;
    justify-self: center;
    width: 90vw;
    padding: 2em;
    margin: 0 auto;
    position: relative;
    outline: none;
    min-height: fit-content;  
}