.gallery{
    transition: .5ms;
    background-color: var(--clr2);
    border: none;
    text-align: center;
    justify-self: center;
    width: 90vw;
    padding: 2em;
    /* height: max-content; */
    margin: 0 auto;

     position: relative;
  /* display: block;   */
  min-height: fit-content;  

}

/* display: block;   */
/* width: 100%;     */
/* margin: 1em;      */
/* border: none;   */
/* padding: 1em;  */
/* height: auto;  */