nav{
    position: relative;
    grid-column: 2;
}

nav ul{
    display: flex;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

nav ul li{
    display: flex;
    justify-content: center;
    color: var(--clr2);
    cursor: pointer;
    text-decoration: none;
    padding: .5em 2em;
    border-bottom: 1px solid var(--clr2);
    transition: 0.5s;
    max-width: fit-content;
    margin: 0 .5em;
}
    
nav ul li a{
    color: var(--clr2);
    text-decoration: none;
}

nav ul li a:hover ,nav ul li:hover{
    color: var(--clr3);
    text-decoration: none;
}

nav ul li:hover{
    color: var(--clr3);
    border-bottom-color: var(--clr3);
}

nav .clicked, nav .clicked a {
    color: var(--clr3);
    border-bottom-color: var(--clr3);
}
