nav{
    position: relative;
    grid-column: 2;
}


nav ul{
    display: flex;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    
}

nav ul li{
    display: flex;

    justify-content: center;
    
}
    
nav a{
    color: var(--clr2);
    text-decoration: none;
    padding: 0 2em;
        
    border-bottom: 1px solid var(--clr2);

}

nav a:hover{
    color: var(--clr-green);
    text-decoration: none;
}
